* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-size: 16px;
  font-family: 'Robotto', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: #000000;
  background-color: #ffffff;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  max-width: 1920px;
}
