@import url(/fonts/fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 16px;
}

input[placeholder] {
  text-align: center;
}
textarea {
  resize: none;
  margin: 10px 0 0 15px;
}
.body {
  background-image: url(/images/car_garage.jpg);
  background-size: cover;
  font-family: Roboto-Regular;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.block-form {
  display: flex;
  max-width: fit-content;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(235, 242, 247);
  border-radius: 5px;
  padding: 5px;
}
.fieldset {
  border: 2px solid;
  padding: 5px;
  margin: 5px;
}
.label {
  margin-top: 5px;
}
.button-row {
  text-align: center;
}

.button-submit-search,
.button-reset-search {
  margin: 10px;
  width: max-content;
  cursor: pointer;
}
