* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4c4c4;
}

h1 {
  text-align: center;
}

p {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 25px;
}
p.big-number {
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 60px;
}
div {
  display: block;
}

.clear {
  clear: both;
}

.container {
  max-width: 1100px;
  margin: auto;
}
.wrapper {
  max-width: 1110px;
  background-color: #e6e6e6;
  margin: 50px 50px 0px 50px;
  overflow: auto;
}

.square-big {
  background-color: #fc8f8f;
  width: 200px;
  height: 200px;
}
.square-big.item-1 {
  float: left;
}
.square-big.item-2 {
  float: right;
}

div.line-of-squares {
  float: right;
}

.square-small {
  width: 100px;
  height: 100px;
  background: #fc8f8f;
  margin-right: 15px;
}
.item-2,
.item-3,
.item-4 {
  float: left;
}
.item-5 {
  margin-right: 0;
  float: left;
}
.left-side-block {
  float: left;
}
.right-side-block {
  float: right;
}
div[data-target="left-side-block"] {
  margin-left: 15px;
}
div[data-target="right-side-block"] {
  margin-right: 15px;
}
