@import url(/fonts/fonts.css);
@import url(./default.css);

.link-menu ul,
ol {
  list-style: none;
}

.header {
  position: relative;
}

.link-menu {
  width: 100%;
  background-color: rgb(79, 78, 78);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  z-index: 20;
}

.link-menu > ul > li {
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: max-content;
  position: relative;
}
.link-menu ul li:hover {
  color: white;
  background-color: rgb(45, 149, 229);
  transition: all 0.5s;
}

.sub-menu-products {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(45, 149, 229);
  width: 150%;
	z-index: 10;
}

.sub-menu-products li {
  padding: 1.5rem 3rem;
  width: 100%;
  display: none;
  border: 2px solid rgb(45, 149, 229);
  font-size: 1.2rem;
}

.link-menu li:hover > .sub-menu-products > li {
  display: block;
	
}
.sub-menu-products >li:hover {
	border: 2px solid rgb(12, 117, 198);
	transition: all 0.5s;
}

.sub-menu-items >li:hover {
	border: 2px solid rgb(12, 117, 198);
	transition: all 0.5s;
}

.plus {
  float: right;
}
.sub-menu-products > li > a {
  font-size: 1.2rem;
  text-transform: none;
}

.sub-menu-items {
  position: absolute;
  left: 100%;
  top: 51%;
	display: block;
}
.sub-menu-items > li {
  text-transform: none;
  font-size: 1.2rem;
  width: max-content;
  max-width: 150%;
  display: none;
  background-color: rgb(45, 149, 229);
  color: white;
}
.sub-menu-products li:hover > .sub-menu-items > li {
  display: block;
	
}

.background-block {
  text-align: center;
  background-color: rgb(45, 149, 229);
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: 2.5rem;
	z-index: 8;
}
