@import url(.//default.css);
:root {
  --color-grey: #eeeff1;
  --color-blue: #34547a;
  --color-dark-grey: #727272;
  --color-white: #ffffff;
}

.navbar {
  padding-top: 79px;
  padding-left: 399px;
  background-color: var(--color-grey);
  padding-bottom: 141px;
}
.nav-links {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.nav-links + .nav-links {
  margin-left: 2.6rem;
}
.nav-links span {
  color: var(--color-blue);
}

.main-title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.9rem;
  margin-top: 151px;
}
.description-main-title {
  font-weight: 400;
  color: var(--color-dark-grey);
  max-width: 540px;
  box-sizing: content-box;
  margin-top: 60px;
}
.button {
  max-width: 225px;
  background-color: var(--color-blue);
  text-align: center;
  margin-top: 65px;
  padding-top: 19px;
  height: 65px;
}
.button-text {
  color: var(--color-white);
  letter-spacing: 0.1em;
}

.about-section {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 100px;
}
.description-title {
  font-weight: 400;
  color: var(--color-dark-grey);
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 100px;
}
.description-title-second {
  font-weight: 400;
  color: var(--color-dark-grey);
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.card-section {
  background-color: var(--color-blue);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.card {
  display: inline-block;
  max-width: 141px;
}
.card + .card {
  margin-left: 49px;
}
.video-section {
  text-align: center;
}
.video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;
  margin-bottom: 100px;
  width: 1110px;
  height: 600px;
}
.footer {
  background-color: var(--color-blue);
}
.copyright-author {
  padding-left: 406px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding-top: 50px;
}
.copyright {
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 406px;
  color: #ffffff;
  margin-top: 20px;
  padding-bottom: 50px;
}
