@font-face {
	font-family: "Bai Jamjuree";
	src: url(./BaiJamjuree-Regular.woff2) format("woff2"), url(./BaiJamjuree-Regular.woff) format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}